[submodule "reshade-unlocked"]
	path = reshade-unlocked
	url = https://github.com/elbadcode/reshade-unlocked
[submodule "genshin-fps-unlock"]
	path = genshin-fps-unlock
	url = https://github.com/elbadcode/genshin-fps-unlock
[submodule "3dmigoto"]
	path = 3dmigoto
	url = https://github.com/elbadcode/3dmigoto
[submodule "genshin-utility"]
	path = genshin-utility
	url = https://github.com/elbadcode/genshin-utility
[submodule "reshadeeffectshadertoggler"]
	path = reshadeeffectshadertoggler
	url = https://github.com/elbadcode/reshadeeffectshadertoggler
