 [submodule "reshadeeffectshadertoggler"]
	path = reshadeeffectshadertoggler
	url = https://github.com/elbadcode/reshadeeffectshadertoggler
[submodule "Include/reshade-unlocked"]
	path = Include/reshade-unlocked
	url = http://github.com/elbadcode/reshade-unlocked
[submodule "Include/genshin-fps-unlock"]
	path = Include/genshin-fps-unlock
	url = http://github.com/elbadcode/genshin-fps-unlock
[submodule "Include/genshin-utility"]
	path = Include/genshin-utility
	url = http://github.com/elbadcode/genshin-utility
[submodule "Include/reshadeeffectshadertoggler"]
	path = Include/reshadeeffectshadertoggler
	url = http://github.com/elbadcode/reshadeeffectshadertoggler
[submodule "Include/3dmigoto"]
	path = Include/3dmigoto
	branch = GIMI
	url = https://github.com/elbadcode/3dmigoto
